.product-page .heading {
   padding-top: 94px;
}

.product-page>.container {
   padding-top: 80px;
   color: black
}

.go-back {
   cursor: pointer;
   width: fit-content;
   opacity: 0.5;
}

.go-back:hover {
   color: var(--clr-light-pink);
   opacity: 1;
}

.product-page .top {
   margin-top: 56px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.product-page .top .image {
   max-width: 48%;
}

.product-page .top .image img {
   border-radius: 8px;
}


.product-page .top .image .tablet,
.product-page .top .image .mobile {
   display: none;
}

.product-page .top .info {
   max-width: 40%;
}

.product-page .top .overline {
   color: var(--clr-pink);
   margin-bottom: 16px;
}

.product-page .top .description {
   opacity: 0.5;
   margin-block: 32px;
}

.product-page .bottom-desc {
   margin-top: 160px;
   display: flex;
   gap: 10%;
}

.product-page .features {
   max-width: 57%;
}

.product-page .features p {
   white-space: pre-line;
   opacity: 0.5;
   margin-top: 32px;
}

.product-page .in-the-box {
   max-width: 43%;
}

.product-page .in-the-box>div {
   margin-top: 32px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.product-page .in-the-box>div>div {
   display: flex;
   gap: 24px;
}

.product-page .in-the-box h6 {
   font-size: 15px;
   color: var(--clr-pink);
}

.product-page .in-the-box p {
   opacity: 0.5;
}

.product-page .product-gallery {
   margin-top: 160px;
   display: flex;
   gap: 2vw;
}

.product-page .product-gallery img {
   border-radius: 8px;
}

.product-page .product-gallery .tablet,
.product-page .product-gallery .mobile {
   display: none;
}

.product-page .product-gallery .small {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.also-like {
   margin-top: 160px;
   margin-bottom: 220px;
   text-align: center;
}

.also-like>div {
   display: flex;
   gap: 30px;
   margin-top: 64px;
}

.also-like .tablet,
.also-like .mobile {
   display: none;
}

.also-like img {
   border-radius: 8px;
}

.also-like h5 {
   margin: 40px 0 32px;
}

.product-page .best-gear {
   margin-top: 160px;
}




@media (max-width: 800px) {

   .product-page .heading {
      padding-top: 90px;
   }

   .product-page>.container {
      padding-top: 33px;
   }

   .product-page .top .image {
      max-width: 36%;
   }

   .product-page .top .image .desktop,
   .product-page .top .image .mobile {
      display: none;
   }

   .product-page .top .image .tablet {
      display: block;
   }

   .product-page .top .info {
      max-width: 57%;
   }

   .product-page .top .overline {
      font-size: 12px;
      margin-bottom: 25px;
   }

   .product-page .top h2 {
      font-size: 28px;
      line-height: 32px;
   }

   .product-page .top .description {
      margin: 24px 0 32px;
   }

   .product-page .bottom-desc {
      margin-top: 120px;
      flex-direction: column;
      gap: 120px;
   }

   .product-page .features {
      max-width: 100%;
   }

   .product-page .in-the-box {
      max-width: 100%;
      display: flex;
      gap: 25%;
   }

   .product-page .in-the-box>div {
      margin-top: 0;
   }

   .product-page .product-gallery {
      margin-top: 120px;
   }

   .product-page .product-gallery .tablet {
      display: block;
   }

   .product-page .product-gallery .desktop,
   .product-page .product-gallery .mobile {
      display: none;
   }

   .also-like {
      margin-top: 120px;
      margin-bottom: 170px;
   }

   .also-like>div {
      gap: 11px;
   }

   .also-like .alt-product {
      display: flex;
      flex-direction: column;
   }

   .also-like .tablet {
      display: block;
   }

   .also-like .mobile,
   .also-like .desktop {
      display: none;
   }

   .also-like .link {
      margin-top: auto;
   }

   .product-page .best-gear {
      margin-top: 120px;
   }

}

@media (max-width: 480px) {

   .product-page .heading {
      padding-top: 85px;
   }

   .product-page>.container {
      padding-top: 16px;
   }

   .product-page .top {
      flex-direction: column;
      margin-top: 24px;
      gap: 32px;
   }

   .product-page .top .image {
      max-width: 100%;
   }

   .product-page .top .image .desktop,
   .product-page .top .image .tablet {
      display: none;
   }

   .product-page .top .image .mobile {
      display: block;
   }

   .product-page .top .info {
      max-width: 100%;
   }

   .product-page .top .description {
      margin-block: 24px;
   }

   .product-page .bottom-desc {
      margin-top: 88px;
      gap: 88px;
   }

   .product-page .in-the-box {
      flex-direction: column;
      gap: 24px;
   }

   .product-page .product-gallery {
      margin-top: 88px;
      flex-direction: column;
      gap: 20px;
   }

   .product-page .product-gallery .small {
      gap: 20px;
   }

   .product-page .product-gallery .mobile {
      display: block;
   }

   .product-page .product-gallery .tablet,
   .product-page .product-gallery .desktop {
      display: none;
   }

   .also-like .mobile {
      display: block;
   }

   .also-like .tablet,
   .also-like .desktop {
      display: none;
   }

   .also-like>div {
      flex-direction: column;
      gap: 56px;
   }

   .also-like h5 {
      margin-block: 32px;
   }

}