.container {
  width: min(100% - 9vw, 1110px);
  margin-inline: auto;
}

.center {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.4;
}

.link a {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  background-color: var(--clr-pink);
  display: inline-block;
}

.link a:hover {
  background-color: var(--clr-light-pink);
}

.link.light a {
  border: 1px solid black;
  background-color: transparent;
  color: black;
}

.link.light a:hover {
  background-color: black;
  color: white;
}

.link.dark a {
  background-color: black;
  color: white;
}

.link.dark a:hover {
  background-color: white;
  color: black;
}

/* header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #191919;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 36px;
  border-bottom: 1px solid hsla(100, 100%, 100%, 0.2);
  position: relative;
  z-index: 100;
}

header .container>div:first-child {
  display: flex;
  align-items: center;
  gap: 42px;
}

header .menu-toggle {
  display: none;
}

header nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 34px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
}

.menu {
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  z-index: 1000;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.menu>div {
  width: min(100% - 9vw, 1110px);
  margin-inline: auto;
  padding: 108px 0 67px;
} */

.best-gear {
  background-color: var(--bg-light);
}

.best-gear .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.best-gear .info {
  color: black;
  max-width: 48ch;
}

.best-gear h2 span {
  color: var(--clr-pink);
}

.best-gear p {
  opacity: 0.5;
  margin-top: 32px;
}

.best-gear .image {
  max-width: 45%;
}

.best-gear .image img {
  border-radius: 8px;
}

.best-gear .image .tablet,
.best-gear .image .mobile {
  display: none;
}

footer {
  margin-top: 200px;
  padding-bottom: 48px;
  background-color: var(--bg-dark);
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .line {
  position: absolute;
  background-color: var(--clr-pink);
  height: 4px;
  width: 101px;
}

footer nav {
  display: flex;
  gap: 34px;
}

footer p {
  opacity: 0.5;
  max-width: 57.5ch;
}

footer>div:nth-child(2) {
  padding-top: 75px;
}

footer>div:nth-child(3) {
  padding: 36px 0 56px;
}

footer>div:nth-child(3) .socials {
  margin-top: auto;
}

footer .socials {
  display: flex;
  gap: 16px;
}

footer .socials.bottom {
  display: none;
}


@media (hover: hover) and (pointer: fine) {

  nav a:hover,
  footer .socials svg:hover {
    color: var(--clr-pink);
    cursor: pointer;
  }
}



@media (max-width: 800px) {
  /* header .container {
    padding-block: 20px;
  }

  header .menu-toggle {
    display: flex;
  }

  header nav {
    display: none;
  } */

  .best-gear .container {
    flex-direction: column-reverse;
    gap: 63px;
  }

  .best-gear .container .image {
    max-width: 100%;
  }

  .best-gear .image .tablet {
    display: block;
  }

  .best-gear .image .desktop,
  .best-gear .image .mobile {
    display: none;
  }

  .best-gear .info {
    max-width: 85%;
    text-align: center;
  }

  footer {
    margin-top: 96px;
  }

  footer>div:nth-child(2) {
    flex-direction: column;
    gap: 32px;
    padding-top: 60px;
  }

  footer>div:nth-child(3) {
    padding: 32px 0 80px;
  }

  footer p {
    max-width: 100%;
  }

  footer .socials.top {
    display: none;
  }

  footer .socials.socials.bottom {
    display: flex;
  }

}

@media (max-width: 480px) {
  /* header .container {
    width: 100%;
  }

  header .container>div {
    padding-inline: 2.5vw;
  }

  header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */

  .cart {
    margin-right: 16px;
  }

  .best-gear .container {
    gap: 32px;
  }

  .best-gear .image .mobile {
    display: block;
  }

  .best-gear .image .desktop,
  .best-gear .image .tablet {
    display: none;
  }

  .best-gear .info {
    max-width: 100%;
  }

  footer {
    text-align: center;
    margin-top: 120px;
  }

  footer .line {
    left: 50%;
    transform: translateX(-50%);
  }

  footer>div:nth-child(2) {
    gap: 48px;
    padding-top: 52px;
  }

  footer .logo {
    margin-inline: auto;
  }

  footer nav {
    flex-direction: column;
  }

  footer nav a {
    width: fit-content;
    margin-inline: auto;
  }

  footer>div:nth-child(3) {
    padding: 48px 0;
  }

  footer>div:nth-child(4) {
    flex-direction: column;
    gap: 48px;
  }

  footer .socials {
    margin-inline: auto;
  }
}